@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*Nav*/
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #0c66eb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: aqua;
    color: #0cf5c4;
}

/*Main*/
main section {
    text-align: center;
}
body {
    background-color: #01cedd;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}
header {
    background-color: #0cf5c4;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.left-text {
    grid-column: 2/5;
}
h2 {
    grid-row: 2/4;
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
    background-color:#0c66eb;
    color:#0cf5c4;
    box-shadow: 5px 5px 10px #6f7364;
}
h4 {
    background-color: #0cf5c4;
    color:#0c66eb;
    grid-row: 4/7;
    font-size: 1em;
    box-shadow: 5px 5px 10px #6f7364;
}
.right-text {
    grid-column: 7/10;
}

/*Footer*/
footer {
    background-color: #0cf5c4;
    color: #555;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #555;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    color: #eee;
}
footer p a:hover {
    text-decoration: underline;
}

/*Images*/
img {
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #6f7364;
}
.left-pic {
    grid-column: 2/6;
}
.right-pic {
    grid-column: 6/10;
    
}
.left-pic, .right-pic {
    grid-row: 2/10;
    margin: 25px;
    
}
.river-pic {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 80px;
    box-shadow: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.cabins {
    height: auto;
    grid-row: 2/7;
    width: 400px;
}
.social-media {
    box-shadow: none;
}
main section img {
    box-sizing: border-box;
}

.msg {
    background-color: #0c66eb;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 4/7;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2, h3 {
    color:cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.msg p {
    color:cornflowerblue;
    font-size: .8em;
    padding-bottom: 15px;
}