#hero {
    width: 100%;
    padding:0%;
    border:0px;
    margin:0%;
}
.small-circle {
    border-radius: 50%;
    width: 20%;
    border: 15px solid rgb(75, 75, 75);
    margin: 4.9544%;
}
body {
    margin: 0%;
    font-size: 0;
    background-color:gray;
    text-align: center;
}