#hero {
    width: 100%;
    padding:0%;
    border:0px;
    margin:0%;
}
.small-circle {
    align-items: 0 auto;
    border-radius: 360%;
    width: 20%;
    border: 15px solid rgb(75, 75, 75);
    margin: 5%;
}
body {
    margin: 0;
    text-size-adjust: 0px;
    font-size: 0;
    width:auto;
    background-color:gray;
    text-align: center;
}